.mediaViewInfo {
	--web-view-name: Academics-CET;
	--web-view-id: CET_wireframe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: CET_wireframe;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#CET_wireframe {
	position: absolute;
	width: 1920px;
	height: 10076px;
	background-color:rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Academics-CET;
	--web-view-id: CET_wireframe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}

.navbar{
	top: 256px;
    left: 0px;
    width: 1920px;
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #90909043;
    opacity: 1;
}

.navbar{
	top: 0px;
    left: 0px;
    width: 1920px;
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #90909043;
	opacity: 1
}
.navbar a{
	text-decoration: none;	
}
#Home a{
	top: 50px;
	position: absolute;
	overflow: visible;
    left: 935px;
    width: 60px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:  #808080;	
}
#Academics a.active{
	font-weight: bold;
	color: #06297e;
}
#Academics a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1077px;
    width: 114px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:#808080;
}
#Admission a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1286px;
    width: 104px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #808080;
}
#Student a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1477px;
    width: 78px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #808080;
}
#Faculty a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1640px;
    width: 72px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:#808080;
}

img.search{
	top: 50px;
	position: absolute;
left: 1807px;
width: 28px;
height: 28px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0.8;
}

img{
	position: absolute;
	top: 128px;
left: 0px;
width: 1920px;
height: 767px;
background: transparent url('img/5.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

#headingacademics h1{
	position: absolute;
	top: 1054px;
left: 111px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 49px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#paragraph p{
	position: absolute;
	top: 1172px;
left: 111px;
width: 1564px;
height: 301px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

.img1{
	position: absolute;
	top: 1627px;
left: 111px;
width: 762px;
height: 617px;
background: transparent url('img/CETB_Physics_Laboratory_1.png') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.img2{
	top: 1627px;
left: 988px;
width: 762px;
height: 617px;
background: transparent url('img/CETB_Power_Electronics_and_Drives_Laboratory.png') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.rect{
	position: absolute;
	top: 2403px;
left: 111px;
width: 1639px;
height: 2800px;
background: #FFF9EF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.rect1{
	position: absolute;
	top: 5300px;
left: 111px;
width: 1639px;
height: 690px;
background: #FFF9EF 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.rect3{
	position: absolute;
	top: 5350px;
left: 110px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#SyllabusUG a{
	position: absolute;
	top: 5395px;
left: 210px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect4{
	position: absolute;
	top: 5350px;
left: 680px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#SyllabusPG a{
	position: absolute;
	top: 5395px;
left: 800px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect5{
	position: absolute;
	top: 5350px;
left: 1250px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#AcademicUG a{
	position: absolute;
	top: 5385px;
left: 1360px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect6{
	position: absolute;
	top: 5585px;
left: 110px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#AcademicPG a{
	position: absolute;
	top: 5620px;
left: 210px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect7{
	position: absolute;
	top: 5585px;
left: 680px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#Calendar a{
	position: absolute;
	top: 5620px;
left: 790px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect8{
	position: absolute;
	top: 5585px;
left: 1250px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#results a{
	position: absolute;
	top: 5630px;
left: 1360px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect9{
	position: absolute;
	top: 5820px;
left: 110px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#schedule a{
	position: absolute;
	top: 5865px;
left: 210px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect10{
	position: absolute;
	top: 5820px;
left: 680px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#phd a{
	position: absolute;
	top: 5865px;
left: 790px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

.rect11{
	position: absolute;
	top: 5820px;
left: 1250px;
width: 500px;
height: 120px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

#BOG a{
	position: absolute;
	top: 5850px;
left: 1360px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}


#coursecreditsys h2{
	position: absolute;
	top: 6050px;
left: 111px;
width: 406px;
height: 49px;
text-align: center;
font: normal normal 600 35px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#paragraph1 p{
	position: absolute;
	top: 6100px;
left: 111px;
width: 1564px;
height: 301px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity:1;
}

#SemesterRegulations h2{
	position: absolute;
	top: 6500px;
left: 111px;
width: 390px;
height: 49px;
text-align: center;
font: normal normal 600 35px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#paragraph2 p{
	position: absolute;
	top: 6600px;
left: 111px;
width: 1564px;
height: 263px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#IdentityCard h2{
	position: absolute;
	top: 7000px;
left: 125px;
width: 234px;
height: 49px;
text-align: center;
font: normal normal 600 35px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#paragraph3 p{
	position: absolute;
	top: 7100px;
left: 111px;
width: 1564px;
height: 225px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#Quick_Links {
	position: absolute;
	top: 7690px;
left: 594px;
width: 130px;
height: 32px;
text-align: center;
font: normal normal 600 23px/34px Poppins;
letter-spacing: 0px;
color: #FCB416;
opacity: 1;
}
#Notice_Board1 a{
	position: absolute;
	overflow: visible;
	top: 7751px;
left: 594px;
width: 122px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#departments a{
	position: absolute;
	top: 7812px;
left: 591px;
width: 126px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#placement1 a{
	position: absolute;
top: 7873px;
left: 594px;
width: 102px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#tender a{
	position: absolute;
	top: 7934px;
left: 599px;
width: 66px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#teqip a{
	position: absolute;
	top: 7995px;
left: 605px;
width: 50px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;

}
#Our_Facilities {
	position: absolute;
	top: 7690px;
left: 893px;
width: 156px;
height: 32px;
text-align: center;
font: normal normal 600 23px/34px Poppins;
letter-spacing: 0px;
color: #FCB416;
opacity: 1;
}
#transportation a{
	position: absolute;
	top: 7751px;
left: 894px;
width: 140px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#libraries a{
	position: absolute;
	top: 7812px;
left: 904px;
width: 80px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#ailab a{
	position: absolute;
	top: 7873px;
left: 909px;
width: 56px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#clubs a{
	position: absolute;
	top: 7934px;
left: 909px;
width: 54px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#sports a{
	position: absolute;
	top: 7995px;
left: 909px;
width: 60px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}
#Explore {
	position: absolute;
	top: 7690px;
left: 1197px;
width: 84px;
height: 32px;
text-align: center;
font: normal normal 600 23px/34px Poppins;
letter-spacing: 0px;
color: #FCB416;
opacity: 1;
}
#Educational_Program a{
	position: absolute;
	top: 7751px;
left: 1185px;
width: 200px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
	
}
#social_incentives a{
	position: absolute;
	top: 7812px;
left: 1195px;
width: 152px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
	
}
#Campus_Life a{
	position: absolute;
	top: 7873px;
left: 1197px;
width: 118px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
	
}
#About_CET a{
	position: absolute;
	top: 7934px;
left: 1200px;
width: 96px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
	
}
#Events a{
	position: absolute;
	overflow: visible;
	top: 7995px;
left: 1200px;
width: 62px;
height: 27px;
text-align: center;
font: normal normal normal 19px/29px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;	
text-decoration: none;
}
#Contact {
	position: absolute;
	top: 7690px;
left: 1547px;
width: 94px;
height: 32px;
text-align: center;
font: normal normal 600 23px/34px Poppins;
letter-spacing: 0px;
color: #FCB416;
opacity: 1;
text-decoration: none;
}

#rect2{
	fill: #022952
}

.rect2{
	position: absolute;
	top: 7500px;
left: 0px;
width: 1920px;
height: 609px;
background: #022952 0% 0% no-repeat padding-box;
opacity: 1;
}

#site a{
	position: absolute;
	overflow: visible;
	top: 7746px;
left: 1604px;
width: 112px;
height: 21px;
text-align: center;
font: normal normal normal 15px/23px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

#mail a{
	position: absolute;
	top: 7805px;
left: 1604px;
width: 124px;
height: 23px;
text-align: center;
font: normal normal normal 16px/25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

#phone a{
	position: absolute;
	top: 7870px;
left: 1604px;
width: 124px;
height: 21px;
text-align: center;
font: normal normal normal 15px/23px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-decoration: none;
}

#footer1 p{
	position: absolute;
	top: 7934px;
left: 143px;
width: 234px;
height: 17px;
text-align: center;
font: normal normal normal 12px/18px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#footer2 p{
	position: absolute;
top: 7950px;
left: 115px;
width: 290px;
height: 17px;
text-align: center;
font: normal normal normal 12px/18px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.logo{
	position: absolute;
	top: 7751px;
left: 187px;
width: 145px;
height: 144px;
opacity: 1;
text-decoration: none;
}

.logo1{
	position: absolute;
	top: 22px;
left: 69px;
width: 84px;
height: 84px;
opacity: 1;
}

#College_of_Engineering_and_Technology a{
	position: absolute;
	top: 33px;
left: 178px;
width: 387px;
height: 29px;
text-align: left;
font: normal normal medium 22px/20px Roboto;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#TechnocampusGhatikiaBhubaneswar751029 a{
	position: absolute;
	top: 62px;
left: 178px;
width: 259px;
height: 16px;
text-align: left;
font: normal normal normal 12px/13px Roboto;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#ACONSTITUENTCOLLEGEOFBPUT a{
	position: absolute;
	top: 81px;
left: 178px;
width: 175px;
height: 14px;
text-align: left;
font: normal normal normal 10px Roboto;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#table1{
	position: absolute;
	top: 2500px;
left: 110px;
width: 1639px;
height: 1327px;
border-radius: 10px;
opacity: 1;
  padding: 0.5rem;
  font-size: 25px;
  text-align: center;
   border-collapse: collapse;
}

#table1 th,td{
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

#table1 th{
	color: #FFFFFF;
	background-color: #06297E;
	text-align: center;
}

#UG p{
	position: absolute;
	top: 2430px;
left: 111px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 49px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#PG p{
	position: absolute;
	top: 3200px;
left: 111px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 49px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#table2{
	position: absolute;
	top: 3270px;
	left:110px;
	width: 1639px;
height: 1327px;
border-radius: 10px;
opacity: 1;
  padding: 0.5rem;
  font-size: 25px;
   border-collapse: collapse;
}

#table2 th{
	color: #FFFFFF;
	background-color: #06297E;
	text-align: center;
}

#table2 th,td{
  border: 1px solid #999;
  padding: 0.5rem;
}

#s1 p{
	position: absolute;
	top: 2479px;
left: 700px;
width: 1564px;
height: 263px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
opacity: 1;
}

#s2 p{
	position: absolute;
	top: 3250px;
left: 600px;
width: 1564px;
height: 263px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
opacity: 1;
}

#phd p{
	position: absolute;
	top: 4650px;
left: 111px;
width: 282px;
height: 68px;
text-align: center;
font: normal normal 600 49px/32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#table3{
	position: absolute;
	top: 4720px;
left: 110px;
width: 1639px;
height: 1327px;
border-radius: 10px;
opacity: 1;
  padding: 0.5rem;
  font-size: 25px;
  text-align: center;
   border-collapse: collapse;
}

#table3 th,td{
  border: 1px solid #999;
  padding: 0.5rem;
}

#table3 th{
	color: #FFFFFF;
	background-color: #06297E;
	text-align: center;
}

#rectangle{
	position: absolute;
	top: 7000px;
left: 111px;
width: 1639px;
height: 2800px;
background: #06297E 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
