@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	font-family: poppins;
}
.mediaViewInfo {
	--web-view-name: CET wireframe;
	--web-view-id: CET_wireframe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: CET_wireframe;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#CET_wireframe {
	position: absolute;
	width: 1920px;
	height: 10076px;
	background-color:rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: CET wireframe;
	--web-view-id: CET_wireframe;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#zuzanna-j-s9hAle7VyNk-unsplash_l {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_l {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 119px;
	top: 8010px;
}
#zuzanna-j-s9hAle7VyNk-unsplash_m {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_m {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 119px;
	top: 8575px;
}
#zuzanna-j-s9hAle7VyNk-unsplash_n {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_n {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 868px;
	top: 8010px;
}
#zuzanna-j-s9hAle7VyNk-unsplash_o {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_o {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 1617px;
	top: 8010px;
}
#zuzanna-j-s9hAle7VyNk-unsplash_p {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_p {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 868px;
	top: 8575px;
}
#zuzanna-j-s9hAle7VyNk-unsplash_q {
	fill: rgba(234,234,234,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_q {
	position: absolute;
	overflow: visible;
	width: 687px;
	height: 475px;
	left: 1617px;
	top: 8575px;
}
#Rectangle_13 {
	fill: rgba(246,246,246,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 804px;
	left: 0px;
	top: 4690px;
}
#Rectangle_59 {
	fill: rgba(246,246,246,1);
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 804px;
	left: 0px;
	top: 6858px;
}
#Rectangle_1 {
	fill: rgba(255,255,255,0.9);
}
.Rectangle_1 {
	top: 256px;
    left: 0px;
    width: 1920px;
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #90909043;
    opacity: 1;
}
#Rectangle_2 {
	fill: rgba(255,255,255,0.8);
}
.Rectangle_2 {
	top: 256px;
    left: 0px;
    width: 1920px;
    height: 767px;
    background-image: url('mainbuilding.png');
    background-size:1920px 767px;
    z-index:1;
    display:block;
    opacity: 1;
}
#Every_faculty_staff_and_studen {
	left: 418px;
	top: 1308px;
	position: absolute;
	overflow: visible;
	width: 1085px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(28,28,28,1);
}
#zuzanna-j-s9hAle7VyNk-unsplash_x {
	fill: rgba(214,214,214,1);
}
.zuzanna-j-s9hAle7VyNk-unsplash_x {
	position: absolute;
	overflow: visible;
	width: 594px;
	height: 593px;
	left: 1164px;
	top: 6964px;
}
#Rectangle_17 {
	fill: rgba(234,234,234,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 119px;
	top: 5858px;
}
#Rectangle_23 {
	fill: rgba(234,234,234,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 119px;
	top: 6152px;
}
#Rectangle_64 {
	fill: rgba(234,234,234,1);
}
.Rectangle_64 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 119px;
	top: 6446px;
}
#Rectangle_18 {
	fill: rgba(234,234,234,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 411px;
	top: 5858px;
}
#Rectangle_24 {
	fill: rgba(234,234,234,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 411px;
	top: 6152px;
}
#Rectangle_65 {
	fill: rgba(234,234,234,1);
}
.Rectangle_65 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 411px;
	top: 6446px;
}
#Rectangle_19 {
	fill: rgba(234,234,234,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 702px;
	top: 5858px;
}
#Rectangle_25 {
	fill: rgba(234,234,234,1);
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 702px;
	top: 6152px;
}
#Rectangle_66 {
	fill: rgba(234,234,234,1);
}
.Rectangle_66 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 702px;
	top: 6446px;
}
#Rectangle_20 {
	fill: rgba(234,234,234,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 995px;
	top: 5858px;
}
#Rectangle_26 {
	fill: rgba(234,234,234,1);
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 995px;
	top: 6152px;
}
#Rectangle_67 {
	fill: rgba(234,234,234,1);
}
.Rectangle_67 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 995px;
	top: 6446px;
}
#Rectangle_21 {
	fill: rgba(234,234,234,1);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1286px;
	top: 5858px;
}
#Rectangle_27 {
	fill: rgba(234,234,234,1);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1286px;
	top: 6152px;
}
#Rectangle_68 {
	fill: rgba(234,234,234,1);
}
.Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1286px;
	top: 6446px;
}
#Rectangle_22 {
	fill: rgba(234,234,234,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1578px;
	top: 5858px;
}
#Rectangle_28 {
	fill: rgba(234,234,234,1);
}
.Rectangle_28 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1578px;
	top: 6152px;
}
#Rectangle_69 {
	fill: rgba(234,234,234,1);
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 180px;
	height: 180px;
	left: 1578px;
	top: 6446px;
}
#Rectangle_29 {
	fill: rgba(94,94,94,1);
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 624px;
	left: 0px;
	top: 9452px;
}
.navbar{
	top: 0px;
    left: 0px;
    width: 1920px;
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #90909043;
	opacity: 1
}
.navbar a{
	text-decoration: none;	
}
#Home a{
	top: 50px;
	position: absolute;
	overflow: visible;
    left: 935px;
    width: 60px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:  #808080;	
}
#Home a.active{
	font-weight: bold;
	color: #06297e;
}
#Academics a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1077px;
    width: 114px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:#808080;
}
#Admission a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1286px;
    width: 104px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #808080;
}
#Student a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1477px;
    width: 78px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #808080;
}
#Faculty a{
	top: 50px;
	position: absolute;
	overflow: visible;
	left: 1640px;
    width: 72px;
    height: 28px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color:#808080;
}
.card{
	display: inline-flex;
	top: 1433px;
	margin-left: 120px;
	margin-right:120px;
	margin-top:120px;
}
.card-body{
	
    width: 342px;
	height: 214px;
	background: #06297E 0% 0% no-repeat padding-box;
    border-radius: 10px;

color:white;
text-align: center;
padding: 50px 0px 50px 0px;
margin:0px 30px 0px 30px;
}
.card-body h1{
	text-decoration: none;
	font-size:20px;
	font-weight: 600;
	opacity: 1;
	margin-bottom: 20px;
}
.card-body p{
	font-size: 16px;
	opacity:0.81;
}
/*img.icon{
	top: 1591px;
left: 1548px;
width: 26px;
height: 27px;
background: #06297e 0% 0% no-repeat padding-box;
color:white;
opacity: 1;
}
.icon{
	color:#FFFFFF;
}*/
.title h2{
	top: 1045px;
left: 256px;
/*width: 1408px;
height: 53px;*/
text-align: center;
font: normal normal 600 32px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
margin-left:0px;
margin-top:100px;
margin-bottom:50px;
}
.title p{
	top: 1121px;
	left: 418px;
	/*width: 1084px;
	height: 111px;*/
	text-align: center;
	font: normal normal normal 25px Poppins;
	letter-spacing: 0px;
	color: #1C1C1C;
	margin-left:0px;
	opacity: 1;
}
img.search{
	top: 50px;
	position: absolute;
left: 1807px;
width: 28px;
height: 28px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0.8;
	
	
}
.navbar a.active{
	font-weight: bold;
}

#Rectangle_49 {
	fill: rgba(255,255,255,1);
}
.Rectangle_49 {
	position: absolute;
	overflow: visible;
	width: 83px;
	height: 83px;
	left: 36px;
	top: 33px;
}
/*#Rectangle_3 {
	fill: #06297e;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 214px;
	left: 190px;
	top: 1433px;
}
#Rectangle_4 {
	fill: #06297e;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 214px;
	left: 590px;
	top: 1433px;
}
#Rectangle_6 {
	fill: #06297e;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 214px;
	left: 989px;
	top: 1433px;
}
#Rectangle_48 {
	fill: #06297e;
}
.Rectangle_48 {
	position: absolute;
	overflow: visible;
	width: 342px;
	height: 214px;
	left: 1389px;
	top: 1433px;
}*/
#Registration_Portal {
	left: 1432px;
	top: 881px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Slider_Image {
	opacity: 0.141;
	left: 722px;
	top: 395px;
	position: absolute;
	overflow: visible;
	width: 477px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#Footer {
	opacity: 0.141;
	left: 841px;
	top: 9712px;
	position: absolute;
	overflow: visible;
	width: 239px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#Logo {
	left: 62px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(28,28,28,1);
}
#Our_Placement {
	left: 695px;
	top: 881px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Gallery {
	left: 1117px;
	top: 881px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Notice_Board {
	left: 329px;
	top: 881px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Path_110 {
	display: none;
	fill: transparent;
	stroke: rgba(10,10,10,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_110 {
	overflow: visible;
	position: absolute;
	width: 128.17px;
	height: 2px;
	left: 1695px;
	top: 92.099px;
	transform: matrix(1,0,0,1,0,0);
}
#WELCOME_TO_COLLEGE_OF_ENGINEER {
	left: 256px;
	top: 1215px;
	position: absolute;
	overflow: visible;
	width: 1409px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 38px;
	color: rgba(28,28,28,1);
}
#Announcements {
	left: 119px;
	top: 3692px;
	position: absolute;
	overflow: visible;
	width: 561px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	color: rgba(28,28,28,1);
}
#Our_Recruiters {
	left: 119px;
	top: 5644px;
	position: absolute;
	overflow: visible;
	width: 479px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	color: rgba(28,28,28,1);
}
#COE-AI_LAB {
	left: 119px;
	top: 6946px;
	position: absolute;
	overflow: visible;
	width: 379px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 66px;
	color: rgba(28,28,28,1);
}
#Gallery_b {
	top: 8041px;
left: 153px;
width: 164px;
height: 63px;
text-align: center;
font: normal normal 600 45px/56px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}
#Rectangle_8 {
	fill: rgba(234,234,234,1);
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 424px;
	left: 119px;
	top: 3848px;
}
#Rectangle_57 {
	fill: rgba(234,234,234,1);
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 942px;
	height: 424px;
	left: 1155px;
	top: 2833px;
}
#Rectangle_9 {
	fill: rgba(234,234,234,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 424px;
	left: 637px;
	top: 3848px;
}
#Title {
	left: 298px;
	top: 4046px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -2px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(28,28,28,1);
}
#Date {
	left: 293px;
	top: 4091px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -2px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(28,28,28,1);
}
#Slider_ch {
	opacity: 0.301;
	left: 265px;
	top: 3939px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 47px;
	color: rgba(0,0,0,1);
}
#Time {
	left: 291px;
	top: 4136px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 36px;
	margin-top: -2px;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(28,28,28,1);
}
#Rectangle_10 {
	fill: rgba(234,234,234,1);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 424px;
	left: 1155px;
	top: 3848px;
}
#Rectangle_11 {
	fill: rgba(234,234,234,1);
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 424px;
	height: 424px;
	left: 1673px;
	top: 3848px;
}
#Rectangle_14 {
	fill: rgba(128,128,128,1);
	stroke: rgba(201,201,201,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 294px;
	left: 119px;
	top: 4945px;
}
#Rectangle_15 {
	fill: rgba(128,128,128,1);
	stroke: rgba(201,201,201,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 456px;
	height: 294px;
	left: 711px;
	top: 4945px;
}
#Rectangle_16 {
	fill: rgba(128,128,128,1);
	stroke: rgba(201,201,201,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 457px;
	height: 294px;
	left: 1302px;
	top: 4945px;
}
#BRANCHES {
	left: 266px;
	top: 5152px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#ID15 {
	left: 265px;
	top: 5031px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 97px;
	color: rgba(255,255,255,1);
}
#STUDENTS {
	left: 861px;
	top: 5152px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#ID5620 {
	left: 803px;
	top: 5031px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 97px;
	color: rgba(255,255,255,1);
}
#FACULTIES {
	left: 1451px;
	top: 5152px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#ID200 {
	left: 1422px;
	top: 5031px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 97px;
	color: rgba(255,255,255,1);
}
#Rectangle_58 {
	fill: rgba(255,255,255,1);
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 156px;
	height: 156px;
	left: 119px;
	top: 9565px;
}
#Logo_cx {
	left: 168px;
	top: 9625px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(28,28,28,1);
}
#Social_Media_Links {
	left: 1223px;
	top: 9590px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Quick_Links {
	left: 828px;
	top: 9590px;
	position: absolute;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Contact {
	left: 469px;
	top: 9590px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_61 {
	fill: rgba(28,28,28,1);
}
.Rectangle_61 {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 110px;
	left: 119px;
	top: 7447px;
}
#Learn_more {
	left: 209px;
	top: 7482px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#Rectangle_63 {
	fill: rgba(28,28,28,1);
}
.Rectangle_63 {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 110px;
	left: 1500px;
	top: 4380px;
}
#Rectangle_70 {
	fill: rgba(28,28,28,1);
}
.Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 346px;
	height: 110px;
	left: 1500px;
	top: 9164px;
}
#Show_more_c {
	left: 1591px;
	top: 4415px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}
#Show_more_da {
	left: 1591px;
	top: 9199px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(255,255,255,1);
}



/*code for notice board and vision and mission part*/
#vision h2{
	position:absolute;
	top: 1944px;
left: 998px;
width: 140px;
height: 63px;
text-align: center;
font: normal normal 600 45px/56px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#mission h2{
	position: absolute;
	top: 2239px;
left: 998px;
width: 172px;
height: 63px;
text-align: center;
font: normal normal 600 45px/56px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#passage1 p{
	position: absolute;
	top: 2030px;
left: 998px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#passage2 p{
	position: absolute;
	top: 2325px;
left: 998px;
width: 766px;
height: 73px;
text-align: left;
font: normal normal normal 25px/38px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}
.button{
	position: absolute;
	top: 2458px;
left: 998px;
width: 256px;
height: 81px;
background: #FDA300 0% 0% no-repeat ;
border-radius: 5px;
opacity: 1;
text-align: center;
font: normal normal 600 19px/25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
text-align: center;
font: normal normal 600 19px/25px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.Notice_board p{
	position: absolute;
	top: 2883px;
left: 157px;
width: 294px;
height: 63px;
text-align: center;
font: normal normal 600 45px/56px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#box1 #box2{
	fill:#FDA300;
}

.box1{
	position: absolute;
	top: 3007px;
left: 157px;
width: 767px;
height: 424px;
background: #FDA300 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.06;
}

#xyz1{
	position: absolute;
	top: 3075px;
left: 220px;
width: 112px;
height: 29px;
text-align: center;
font: normal normal 600 21px/45px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

.box2{
	position: absolute;
	top: 3007px;
left: 997px;
width: 767px;
height: 424px;
background: #FDA300 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 0.06;
}

#Date1{
	position: absolute;
	top: 3075px;
left: 220px;
width: 112px;
height: 29px;
text-align: center;
font: normal normal 600 21px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#Title1{
	position: absolute;
	top: 3130px;
	left:195px;
width: 494px;
height: 39px;
text-align: center;
font: normal normal 600 28px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#Notice1 p{
	position: absolute;
	top: 3211px;
left: 228px;
width: 643px;
height: 66px;
text-align: left;
font: normal normal medium 23px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#link1 a{
	position: absolute;
	top: 3343px;
left: 228px;
width: 120px;
height: 20px;
text-align: left;
font: normal normal bold 14px Poppins;
letter-spacing: 0px;
color: #FDA300;
opacity: 1;
}

#Date2{
	position: absolute;
	top: 3075px;
left: 1061px;
width: 112px;
height: 29px;
text-align: center;
font: normal normal 600 21px/45px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#Title2{
	position: absolute;
	top: 3130px;
left: 1034px;
width: 494px;
height: 39px;
text-align: center;
font: normal normal 600 28px/45px Poppins;
letter-spacing: 0px;
color: #06297E;
opacity: 1;
}

#Notice2{
	position: absolute;
	top: 3211px;
left: 1070px;
width: 643px;
height: 66px;
text-align: left;
font: normal normal medium 23px/34px Poppins;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

#link2 a{
	position: absolute;
	top: 3343px;
left: 1070px;
width: 120px;
height: 20px;
text-align: left;
font: normal normal bold 14px/23px Poppins;
letter-spacing: 0px;
color: #FDA300;
opacity: 1;
}

#viewall a{
	position: absolute;
	top: 2940px;
left: 1511px;
width: 88px;
height: 32px;
text-align: center;
font: normal normal medium  Poppins;
font-size: 23px;
letter-spacing: 0px;
color: #1C1C1C;
opacity: 1;
}

.triangle-left{
	position: absolute;
	top: 2940px;
left: 1660px;
width: 37px;
height: 37px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid #EAEAEA;
	border-bottom: 10px solid transparent;
}

.triangle-right{
	position: absolute;
	top: 2940px;
left: 1727px;
width: 37px;
height: 37px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid #06297E;
	border-bottom: 10px solid transparent;
}

img{
	position: absolute;
	top: 1922px;
	left:157px;
	width: 762px;
height: 617px;
	border-radius: 10px;
opacity: 1;
}
